*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 1300px;
    height: 650px;
    margin: auto;
}
.d-flax{
    display: flex;
}
.col-lg1{
    background-color: #16263f;
    width: 70px;
    text-align: center;
}
.icon-info{
    margin-top: 40px;
}
h2 a{
    text-decoration: none;
    color: azure;

}
h2{
    color: #ffffff;
    background-color: #daae19;
    width: 185px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    padding: 13px;
    position: relative;
}
h2:hover{
    background-color: black;
    color: #fff;
}
.icon{
    margin-top: 90px;
}
.row-icon{
    text-align: center;
    align-items: center;
    background-color: #183052;
    margin-top: 5px;
    width: 70px;
    height: 50px;
}

.main-icon{
    padding-top: 12px;
    width: 40px;
    color: #fff;
}
.main-icon:hover{
    color: orangered;
}
.home{
    transform: rotate(-90deg);
    text-align: center;
    width: 100px;
    height: 70px;
    margin-top: 0;
    margin-left: -15px;
    margin-bottom: 20px;
}
.home a{
    text-decoration: none;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #daae19;
}
.home p{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
} 
.home .main-icon{
    color: #daae19;
    width: 35px;
    padding: 6px 0 0 7px;
}

/*======End-col-lg1-icons=====*/

/*======start-col-lg4=====*/

.col-lg4{
    overflow: hidden;
    width: 400px;
    height: 650px;
    background-image: url('../images/14Znaik_1531494175.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.col-lg4-content img{
    margin-top: 100px;
    width: 90px;
}
.col-lg4-content  h3{
    color: #fff;
    margin-top: 5px;
    font-size: 30px;
    text-transform: uppercase;
}
.content{
    border: 3px solid #fff;
    width: 185px;
    margin: 20px auto;
    text-align: left;
    padding: 25px;
}
.content ul li{
    margin-top: 25px;
}
.content ul li:last-child{
    margin-bottom: 20px;
}
.content ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    transition: color .3s ease-in;
}

.content ul li a::after{
    position: absolute;
    content: '';
    clear: both;
    display: block;
    top: 7px;
    left: 107px;
    width: 0px;
    height: 2px;
    background-color: #daae19;
    transition: width .3s ease-in;
}
.content ul li a:hover::after{
    width: 100px;
}
.content ul li a:hover{
    color:  #daae19;
}

/*======End-col-lg4=====*/


.col-lg7{
    width: 800px;
    margin: 0 ;
    background: rgb(212, 195, 195);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-lg7 .box{
    width: 400px;
    height: 210px;
    background: lime;
    box-sizing: border-box;
    display: inline-block;
}
.col-lg7 .box .img-box{
    position: relative;
    overflow: hidden;
}
.col-lg7 .box .img-box img{
    max-width: 100%;
    height: 100%;
    transition: transform 2s;
}
.col-lg7 .box{
    position: relative;
    overflow: hidden;
}
.col-lg7 .box:hover .img-box img{
    transform: scale(1.2);
}
.col-lg7 .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background:rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}
.col-lg7 .box:hover .details{
    transform: scaleY(1);
}

.col-lg7 .box .details .text-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    color: #fff;
}
.col-lg7 .box .details .text-box h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0f;
}